{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Kuis Subbab {{ judul }}</title>
    <link rel="stylesheet" href="{% static 'css/kuis.css' %}">
</head>
<body>

<div class="container">
    <div class="intro-card">

        <div class="intro-title-box">Nilai {{ judul }}</div>

        <div class="intro-inner-card">
            <div class="intro-body result-body">
                <div class="score-box">
                <div class="score-label">Nilai</div>

                <div class="score-value
                    {% if lulus %}
                        score-pass
                    {% else %}
                        score-fail
                    {% endif %}
                ">
                    {{ nilai }}
                </div>
                </div>

                <div class="result-stats">
                <div class="stat-item">
                    <div class="stat-number">{{ benar }}</div>
                    <div class="stat-label">Benar</div>
                </div>

                <div class="stat-item">
                    <div class="stat-number">{{ salah }}</div>
                    <div class="stat-label">Salah</div>
                </div>

                <div class="stat-item">
                    <div class="stat-number">{{ waktu }}</div>
                    <div class="stat-label">Waktu</div>
                </div>
                </div>


                <div class="status-box">

                    <span class="status-label">Status:</span>

                    <span class="
                        {% if lulus %}
                            status-lulus
                        {% else %}
                            status-belum-lulus
                        {% endif %}
                    ">
                        {% if lulus %}
                            Lulus
                        {% else %}
                            Belum Lulus
                        {% endif %}
                    </span>

                </div>
            </div>
        </div>

        {% if lulus %}

            <div class="alert-box-inline alert-success">

                {% if judul_kuis == "evaluasi" %}
                    Selamat! Kamu telah menyelesaikan evaluasi akhir dan dinyatakan lulus.
                {% else %}
                    Selamat! Kamu lulus dan dapat lanjut ke materi berikutnya.
                {% endif %}

            </div>

        {% else %}

            <div class="alert-box-inline alert-danger">

                {% if judul_kuis == "evaluasi" %}
                    Nilai Kamu belum memenuhi kriteria kelulusan. Silakan ulangi evaluasi atau kembali mempelajari materi.
                {% else %}
                    Nilai Kamu belum memenuhi kriteria kelulusan. Silakan ulangi kuis atau kembali mempelajari materi.
                {% endif %}

            </div>

        {% endif %}

<div class="intro-footer-outside">

{% if not lulus %}

    <a href="{% url 'halaman_kuis' judul_kuis %}" class="btn-primary">

        {% if judul_kuis == "evaluasi" %}
            Ulangi Evaluasi
        {% else %}
            Ulangi Kuis
        {% endif %}

    </a>

    {% if materi_sebelum %}
        <a href="{% url materi_sebelum %}" class="btn-secondary">
            Kembali ke Materi
        </a>
    {% endif %}

{% else %}

    {% if judul_kuis == "evaluasi" %}

        <a href="{% url 'rangkuman' %}" class="btn-primary">
            Lanjut Materi
        </a>

    {% elif judul_kuis == "praktik" %}

        <a href="{% url 'halaman_kuis' 'evaluasi' %}" class="btn-primary">
            Lanjut ke Evaluasi Akhir
        </a>

     {% elif materi_sesudah %}

        <a href="{% url materi_sesudah %}" class="btn-primary">
            Lanjut Materi
        </a>

    {% endif %}

{% endif %}

</div>

    </div>
</div>

</body>
</html>