{% extends "EnhanceLearn/base-beranda.html" %}

{% block title %}
Daftar Materi
{% endblock %}

{% block content %}

<div class="container-fluid py-3 px-3">

<h1 class="mb-4">Daftar Isi Materi</h1>

<div class="row g-4">

<!-- Materi 1 -->
<div class="col-md-4">
<div class="materi-card">

<div class="materi-header">
Pendahuluan
</div>

<div class="materi-body">

<ul>
<li>Pengertian Citra Digital</li>
<li>Jenis – Jenis Citra Digital</li>
</ul>

</div>
</div>
</div>


<!-- Materi 2 -->
<div class="col-md-4">
<div class="materi-card">

<div class="materi-header">
Pengantar Image Enhancement
</div>

<div class="materi-body">

<ul>
<li>Pengertian Image Enhancement</li>
<li>Perbedaan Image Enhancement dan Image Restoration</li>
</ul>

</div>
</div>
</div>


<!-- Materi 3 -->
<div class="col-md-4">
<div class="materi-card">

<div class="materi-header">
Transformasi Intensitas Citra
</div>

<div class="materi-body">

<ul>
<li>Kecerahan (Brightness)</li>
<li>Contrast</li>
<li>Operasi Negasi (Invers)</li>
<li>Operasi Ambang Batas (Thresholding)</li>
<li>Transformasi Logaritmik</li>
<li>Transformasi Power-Law (Gamma)</li>
</ul>

</div>
</div>
</div>


<!-- Materi 4 -->
<div class="col-md-4">
<div class="materi-card">

<div class="materi-header">
Histogram
</div>

<div class="materi-body">

<ul>
<li>Histogram Equalization</li>
<li>Histogram Specification</li>
</ul>

</div>
</div>
</div>


<!-- Materi 5 -->
<div class="col-md-4">
<div class="materi-card">

<div class="materi-header">
Implementasi Python
</div>

<div class="materi-body">

<ul>
<li>Citra Grayscale & Biner</li>
<li>Brightness</li>
<li>Contrast Stretching</li>
<li>Invers</li>
<li>Thresholding</li>
<li>Log Transform</li>
<li>Power-Law</li>
<li>Histogram Equalization</li>
<li>Histogram Specification</li>
</ul>

</div>
</div>
</div>

</div>

</div>

{% endblock %}