{% extends "EnhanceLearn/base-beranda.html" %}

{% block title %}
Tentang
{% endblock %}

{% block content %}

<div class="container py-2">

<!-- Informasi Media -->
<h2 class="mb-2">Informasi Media</h2>

<div class="card shadow-sm">
<div class="card-body p-4">

<p class="text-center">
Media pembelajaran ini dibuat untuk memenuhi persyaratan dalam menyelesaikan studi di program Strata-1 Pendidikan Komputer dengan judul:
</p>

<h4 class="text-center fw-bold my-4" style="line-height:1.3;">
Pengembangan Media Pembelajaran Interaktif Berbasis Web Pada Materi 
<em>Point Operation</em> dan Histogram untuk Peningkatan Kualitas Citra 
dengan Model Tutorial
</h4>

<div class="row mt-4">
<div class="col-md-7">

<table class="table table-borderless">

<tr>
<td width="220"><strong>Nama</strong></td>
<td>: Sabrina</td>
</tr>

<tr>
<td><strong>Dosen Pembimbing 1</strong></td>
<td>: Drs. Harja Santana Purba, M.Kom., Ph.D.</td>
</tr>

<tr>
<td><strong>Dosen Pembimbing 2</strong></td>
<td>: Muhammad Hifdzi Adini, S.Kom., M.T.</td>
</tr>

<tr>
<td><strong>Email</strong></td>
<td>: <a href="mailto:sabrinaina771@gmail.com">sabrinaina771@gmail.com</a></td>
</tr>

<tr>
<td><strong>Jurusan</strong></td>
<td>: Pendidikan Komputer</td>
</tr>

<tr>
<td><strong>Fakultas</strong></td>
<td>: Fakultas Keguruan dan Ilmu Pendidikan</td>
</tr>

<tr>
<td><strong>Institusi</strong></td>
<td>: Universitas Lambung Mangkurat</td>
</tr>

</table>

</div>
</div>

</div>
</div>


<!-- Daftar Pustaka -->
<h2 class="mt-2 mb-2">Daftar Pustaka</h2>

<div class="card shadow-sm">
<div class="card-body p-4">

<p>
Gonzalez, R. C., & Woods, R. E. (2018). 
<em>Digital Image Processing</em>. Pearson Education.
</p>

</div>
</div>

</div>

{% endblock %}